 <div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
    <div class="col-sm-6 shadow round pb-3">
      <h1 >Phone Validator</h1>
      <form [formGroup]="exform" class="example-form" method ="post" >
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="matl">Access Key (disabled)</mat-label>
            <input formControlName="accesskey" type="text" class="form-control" matInput value="Google">
            <small *ngIf="accesskey.invalid && accesskey.touched" >Access Key is Required</small>
          </mat-form-field>

        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="matl">Country Code</mat-label>
            <input  matInput placeholder="TN-US-GE"  formControlName="countrycode" type="text" class="form-control" >
            <small *ngIf="countrycode.invalid && countrycode.touched" class="text-danger">Country Code is Required (Alpha2Code)</small>

          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="matl">Phone</mat-label>
            <input  matInput placeholder="555-555-1234"  formControlName="phone" type="text" class="form-control" >
            <small *ngIf="phone.invalid && phone.touched" class="text-danger">Phone N° is Required(Minimum length 4. Numbers are only allowed)</small>
          </mat-form-field>
        </div>
        <button (click)="sendDetails(phone.value,countrycode.value)" [disabled]="exform.invalid" type="submit" class="btn btn-primary ">Verify</button>
      </form>
    </div>
  </div>
</div>
 <div class="container">
   <table align="center">
   <thead>
   <tr>
     <th > Infos</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let i of infos| keyvalue">
     <td> {{ i.value}}</td>
   </tr>
   </tbody>
 </table>
 </div>

